.home-page {
  padding-top: 0;
}

.home-content {
  margin-top: -100px;
  position: relative;
  z-index: 1;
  padding-bottom: 4rem;
}

@media (max-width: 768px) {
  .home-content {
    margin-top: -50px;
  }
}

